body{
    margin: 0px auto;
    padding: 0px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main{
    width: 60%;
    margin: auto;
    background-color: rgb(221, 214, 214);
    text-align: center;
    margin-top: 15rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 24px;
    font-weight: bold;
    height: 40rem;
}
.ques-main{
    margin: 2rem 0 2rem 0;
}

.ques{
    background-color: whitesmoke;
    padding: 0.1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    
}
.btn{
    text-align: right;
    margin-top: -4rem;
    margin-right: 1rem;
}
.btn button{
    color: brown;
    border-color: brown;

    font-size: 36px;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: right;
    
}

.text p{
    background-color: whitesmoke;
    margin-top: -0.5rem;
    padding-top: 0.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    
}
.text{
    display: none;
}
.min-btn{
    display: none;
}


.show .text{
    display: block;
}

.show .min-btn{
    display: inline;
}
.show .plus-btn{
    display: none;
}